<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--<suite name="All Test Suite">
    <parameter name="Id" value="1"/>
    <test verbose="2" preserve-order="true"
          name="/src/test/java/DataDrivenTest.java">
        <classes/>
    </test>
</suite>-->

<suite name="Suite">
<parameter name="id" value="3"/>
<test name="MultipleTestClasses">
    <classes>
        <class name="AuthenticationTest">
            <methods>
                <include name="bearerAuthentication" />
            </methods>
        </class>
    </classes>
</test>
</suite>