<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--<suite name="All Test Suite">
    <parameter name="Id" value="1"/>
    <test verbose="2" preserve-order="true"
          name="/src/test/java/DataDrivenTest.java">
        <classes/>
    </test>
</suite>-->

<suite name="RestAssuredTests" parallel="methods" thread-count="2">
<parameter name="id" value="5"/>
<test name="MultipleTestClasses">
    <classes>
        <class name="AuthenticationTest">
            <methods>
                <include name="bearerAuthentication" />
            </methods>
        </class>
        <!--
        <class name="DataDrivenTest">
            <methods>
                <include name="readUserIDFromTestNGXMLDeleteTheUser" />
            </methods>
        </class>
        -->
    </classes>
</test>
</suite>